
head
    link(rel="preload" href="css/styles.min.css" as="style")
    
    meta(charset='utf-8')
    link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")
    title OXXO Live
    link(rel="stylesheet" href="css/styles.min.css")
    script(src="js/scripts.min.js", async defer)

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

//-     meta(property='og:title' content='¡Abre tus ojos a la RETINOPATÍA DIABÉTICA!')
//-     meta(property='og:description' content='Si tienes un ser querido con Diabetes, tú puedes ayudarlo conociendo la enfermedad')
//-     meta(property='og:image' content='img/Retinopatia_SocialShare_03.png')
//-     meta(property="og:site_name" content="https://retinopatia.stage-pruebas.com/")
//-     meta(property='og:type' content='article')

//-     //  Twitter Card data 
//-     meta(name='twitter:card' content='summary_large_image')
//-     meta(name='twitter:site' content='https://retinopatia.stage-pruebas.com/')
//-     meta(name='twitter:title' content='¡Abre tus ojos a la RETINOPATÍA DIABÉTICA!')
//-     meta(name='twitter:description' content='Si tienes un ser querido con Diabetes, tú puedes ayudarlo conociendo la enfermedad')
//-     meta(name='twitter:image' content='img/Retinopatia_SocialShare_03.png')


//-     //  Google Tag Manager 
//-     script.
//-         (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
//-         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
//-         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
//-         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
//-         })(window,document,'script','dataLayer','GTM-K3LGN9D');

//- //  Google Tag Manager (noscript) 
//- noscript <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3LGN9D" height="0" width="0" style="display:none;visibility:hidden"></iframe>
//- //  End Google Tag Manager (noscript) 

