
:root {
    // COLORS

    --gris: #343434;
    --negro: #000000;
    --blanco: #FFFFFF;
    --primario: #33295D;
    --secundario: #DD2826;
    --tercero:#AF0300;

    // FONTS

    --primariaRegular:'Conv_Druk Wide Bold';
    --primariaBold:'Conv_Druk Wide Bold';
    --secundariaRegular:'centuryRegular';
    --secundariaBold:'centuryBold';

    --h1:calc(40px + 10 * ((100vw - 1280px) / 1920));
    --h2:calc(32px + 10 * ((100vw - 1280px) / 1920));
    --h3:calc(26px + 10 * ((100vw - 1280px) / 1920));
    --h4:calc(22px + 10 * ((100vw - 1280px) / 1920));
    --h5:calc(16px + 10 * ((100vw - 1280px) / 1920));
    --h6:calc(12px + 10 * ((100vw - 1280px) / 1920));

    @media (max-width:992px) {
        --h1:calc(32px + 10 * ((100vw - 320px) / 1280)); 
        --h2:calc(26px + 10 * ((100vw - 320px) / 1280)); 
        --h3:calc(20px + 10 * ((100vw - 320px) / 1280)); 
        --h4:calc(16px + 10 * ((100vw - 320px) / 1280)); 
        --h5:calc(14px + 10 * ((100vw - 320px) / 1280));
        --h6:calc(12px + 10 * ((100vw - 320px) / 1280));
    }
}

